# Node
node_modules/
**/node_modules/

# Env
*.env
backend/.env
my-project/.env

# Build
dist/
build/
my-project/dist/
my-project/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
coverage/
coverage
*.local
.env.local

# Ignore compiled assets
*.tgz

# npm
package-lock.json

# Ignore screenshots if you prefer not to push them (optional)
# public/screenshots/
